<div class="container">
  <div class="row justify-content-left">
    <div class="col-8 mt-4"  id="user-form">
      <%= render 'shared/errors', obj: @user %>
      <%= form_with(model: @user, class: "shadow p-3 mb-3 rounded", local: true) do |form| %>
        <div class="form-group row mt-3" id="form-labels">
          <%= form.label :username, class: "col-2 col-form-label text-muted" %>
          <div class="col-10">
            <%= form.text_field :username, class: "form-control shadow rounded", placeholder: "Username" %>
          </div>
        </div>

        <div class="form-group row mt-3" id="form-labels">
          <%= form.label :email, class: "col-2 col-form-label text-muted" %>
          <div class="col-10">
            <%= form.email_field :email, rows: 10, class: "form-control shadow rounded", placeholder: "Email" %>
          </div>
        </div>

        <div class="form-group row mt-3" id="form-labels">
          <%= form.label :password, class: "col-2 col-form-label text-muted" %>
          <div class="col-10">
            <%= form.password_field :password, rows: 10, class: "form-control shadow rounded", placeholder: "Password" %>
          </div>
        </div>

        <div class="form-group row justify-content-center" id="signup-button" >
          <%= form.submit(@user.new_record? ? "Sign up" : "Update account",
                          class: "mt-4 col-3 btn btn-outline-dark btn-lg") %>
        </div>
      <% end %>
    </div>
    <div id="back-button">
      <a href=#><%= link_to '[ Back ]', root_path, class:"text-dark" %></a>
    </div>
  </div>
</div>